/*
.container p{
    border: solid 1px red
}
*/

@font-face{
font-family: 'avenir-book';
src: url("../fonts/AvenirLTStd-Book.otf");
    font-family: 'avenir-bold';
src: url("../fonts/AvenirLTStd-Black.otf");
}

body{
    font-family:'avenir-book';
    background-color: #ffffff;
}

.btn-pca{
    background-color: #236095;
    color: white;
    cursor: pointer;
    border: none;
}

.btn-pca:hover{
    background-color: #133d9c;
    border: none;
}
#header img{
    width: 100px;
}

#header .container .navbar-collapse.collapse{
    justify-content: flex-end;

}


.contenet-menu{
    flex-direction: column;
    display: flex !important;
    justify-content: flex-end;
    align-items: flex-end;
}
.navbar-light .navbar-nav .nav-link {
    color: #333333;
    font-weight: 300;
}
.navbar-light .navbar-nav .nav-link.activado{
    font-weight: bolder;
}
.navbar-light .navbar-nav .nav-item a:hover {
    color: #000000;
}
#main{
    position: relative;
}
#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
}
#main .cont-language{
    position: absolute;
    z-index: 1;
    right: 15%;
    top: 3%;
}
#main .cont-language p {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.08;
    letter-spacing: 0.13px;
    text-align: left;
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .cont-language p a.espaniol{
    color: #fbf100;
    margin-right: 10px;
}
#main .cont-language p a.english{
    color: #ffffff;
    margin-left: 10px;
}
.card-shadow{
   -webkit-box-shadow: 1px 44px 59px -23px rgba(189,193,202,1);
-moz-box-shadow: 1px 44px 59px -23px rgba(189,193,202,1);
box-shadow: 1px 44px 59px -23px rgba(189,193,202,1);
}


#servicios{
    position: relative
}

#servicios .contenedor-industrias{
    height:30%; width: 100%;opacity: 0.6;
    background-color: #000000;position: absolute;z-index: 1;display: flex;justify-content: center;align-items: center;
}

#servicios .contenedor-industrias .contenedor-industrias-texto{
    width: 500px;
    color:white;
    display: flex;
}

#servicios .contenedor-industrias .contenedor-industrias-texto .text-left{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 24px;
}
#servicios .contenedor-industrias .contenedor-industrias-texto .text-left p{
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.3px;
    text-align: right;
    color: #fbf100;
}

#servicios .contenedor-industrias .contenedor-industrias-texto .text-center{
    padding-left:15px;padding-right:15px; 
}

#servicios .contenedor-industrias .contenedor-industrias-texto .text-center p{
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.3px;
    text-align: right;
    color: #fbf100;
    font-size: 5rem
}

#servicios .contenedor-industrias .contenedor-industrias-texto .text-right{
    display: flex;justify-content:center;align-items:center
}

#servicios .contenedor-industrias .contenedor-industrias-texto .text-right p{
    font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 23px;
      letter-spacing: 0.17px;
      text-align: left;
      color: #ffffff;
    font-size: 16px;
}

#siniestros .contenedor-industrias{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#siniestros .contenedor-industrias .contenedor-industrias-texto{
    
    width: 500px;
    color:white;
    display: flex;
}

#siniestros .contenedor-industrias .contenedor-industrias-texto .text-left{
    display: flex;justify-content:center;align-items:center;
}
#siniestros .contenedor-industrias .contenedor-industrias-texto .text-left p{
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.3px;
    text-align: right;
    color: #236095;
}

#siniestros .contenedor-industrias .contenedor-industrias-texto .text-center{
    padding-left:15px;padding-right:15px; 
}

#siniestros .contenedor-industrias .contenedor-industrias-texto .text-center p{
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.3px;
    text-align: right;
    color: #236095;
    font-size: 6rem
}

#siniestros .contenedor-industrias .contenedor-industrias-texto .text-right{
    display: flex;justify-content:center;align-items:center
}

#siniestros .contenedor-industrias .contenedor-industrias-texto .text-right p{
    
    font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 23px;
      letter-spacing: 0.17px;
      text-align: left;
      color: #000000;
    font-size: 16px;
}

#footer{
    background: #236095;
}
#footer li, a{
    text-decoration: none;
    color: white;
    list-style-type: none;
    padding: 0;
}
#footer .footer-title{
    font-weight: bold;
    color: white;
}

#footer .footer-text{
    font-weight: normal;
    color: white;
}
#footer ul{
    padding: 0;
}
#footer p {
    margin-bottom: 0;
}

#footer .footer-link:hover{
    text-decoration: underline;
    color: white;
}

.navbar-expand-lg.navbar-collapse{
    justify-content: flex-end !important;

} 


.carousel-indicators li{
    border-radius:50px;
    width: 20px;
    height: 20px;
}

.quienesSomos-container{
     background: url(../images/quienessomos.jpg);
    background-repeat:repeat-x;
    background-position-y:290px;  
}
.quienesSomos-container h6 {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-top: 20px;
}

.quienesSomos-container p,  {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-top: 20px;
}


.quienesSomos-container .cont-quienes-somos{
    width: 170px;
    position: relative;
}
.quienesSomos-container .cont-quienes-somos .box-1{
    width: 20px;
    height: 20px;
    background-color: #f9e400;
    position: absolute;
    left:-30px;
    top:10px;
}
.quienesSomos-container .cont-quienes-somos h2{
    font-size: 34px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #236095;
    width: 170px;
}
.quienesSomos-container .cont-quienes-somos .box-2{
    width: 20px;
    height: 20px;
    background-color: #f9e400;
    position: absolute;
    bottom:10px;
    right: 10px;
}

#galeria .portfolio-item.row.pics .contenedor-pic {
    overflow: hidden; 
    box-sizing: border-box; 
    overflow: hidden;
    position: relative;
}

#galeria .portfolio-item.row.pics .item {
    overflow: hidden;
    transition: .3s;
    display: flex;
    justify-content: center;
}
#galeria .portfolio-item.row.pics .item a{
    overflow: hidden;
}

#galeria .portfolio-item.row.pics .item img {
    transition: .3s;
    overflow: hidden;
}
#galeria .portfolio-item.row.pics .item:hover img {
    overflow: hidden;
}

#galeria .portfolio-item.row.pics .item:hover .after {
    opacity: 1;
    transform: scale(1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#galeria .portfolio-item.row.pics .item:hover .after .principal{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fbf100;
    margin: 0;
}

#galeria .portfolio-item.row.pics .item:hover .after .aux{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    text-transform: uppercase
}

#galeria .portfolio-item.row.pics .item:hover .after .imgs{
    display: flex;
    top: 0;
    left: 0; 
    align-items: center;
    justify-content: space-around;
    width: 50%;
    opacity: 1;

}
#galeria .portfolio-item.row.pics .item .after .imgs{
     top: 0;
    left: 0;
    opacity: 0;
}

  #galeria .portfolio-item.row.pics .item .after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center center/3em 3em no-repeat rgb(5 14 69 / 0.65);
    opacity: 0;
    transform: scale(0.1);
    opacity: 0.54;
    transition: all .3s;

  }
  


@media (max-width: 991.98px) { 
    #nosotros .quienesSomos-container{
    background: url(none);
}
    
    
    
    #siniestros{
        position: none;
/*        outline: 1px solid red;*/
    }
    #siniestros .contenedor-industrias .contenedor-industrias-texto{
    width: 500px;color:white;display: block;
}

    #siniestros .contenedor-industrias .contenedor-industrias-texto .text-center p{
     display: none;
    }
    

    #siniestros .contenedor-industrias{
        position: relative;
        background: #ffffff;
        opacity: 1;
    }

    #siniestros .contenedor-industrias .contenedor-industrias-texto .text-left{
        align-items: center;
        margin-top: 20px;
    }
    #siniestros .contenedor-industrias .contenedor-industrias-texto .text-right{
        align-items: center;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    #siniestros .contenedor-industrias .contenedor-industrias-texto .text-right p{
        text-align: center;
    }
    
    
    #header .container .navbar-collapse.collapse{
        justify-content: flex-start;
    
    }
    .contenet-menu {
        flex-direction: column;
        display: flex !important;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .align-mobile-left{
        text-align: left !important;

    }
    
     #servicios{
        position: none;
     /* outline: 1px solid red; */
    }


#servicios .contenedor-industrias .contenedor-industrias-texto{
    width: 500px;color:white;display: block;
}

#servicios .contenedor-industrias .contenedor-industrias-texto .text-center p{
 display: none;
}
    

    #servicios .contenedor-industrias{
        position: relative;
        background: #111;
        opacity: 1;
    }

    #servicios .contenedor-industrias .contenedor-industrias-texto .text-left{
        align-items: center;
        margin-top: 20px;
    }
    #servicios .contenedor-industrias .contenedor-industrias-texto .text-right{
        align-items: center;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    #servicios .contenedor-industrias .contenedor-industrias-texto .text-right p{
        text-align: center;
    }
}