<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/contacto.css">
    <link rel="stylesheet" href="css/gestiondecalidad.css">


    <title>Grupo PCA</title>
    
    <style>
        /* .col-sm {
            border: solid 1px red;

        } */
      </style>
  </head>
    <body>
       <!--  header-->
  
  <nav id="header" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a href="index.html" class="navbar-brand" href="">
          <img style="width: 170px;" src="images/logo-header-pca.png" alt="Grupo PCA">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                        
      <div class="collapse navbar-collapse " id="navbarSupportedContent"  >
        <div class="contenet-menu ">
              <div class="logos mt-2 mb-2">
                    
                        <img class="mr-1" src="images/logo-lloyds.svg" alt="">
                   
                    <a href="https://proclaims.mx:8443/grupopca/">
                        <img class="ml-1" src="images/login.jpg" alt="">
                    </a>
              </div> 
              <div class="menu mb-2">
                    <ul class="navbar-nav ml-auto">
                       <li class="nav-item pr-3">
                        <a class="nav-link" href="index.html#company">Company</a>
                      </li>
                      <li class="nav-item pr-3">
                        <a class="nav-link" href="index.html#services">Services</a>
                      </li>
                      <li class="nav-item pr-3">
                        <a class="nav-link" href="index.html#sinister">Sinister</a>
                      </li>
                      <li class="nav-item pr-3">
                        <a class="nav-link activado" href="quality-management.html">Quality Management</a>
                      </li>
                      <li class="nav-item pr-3">
                        <a class="nav-link" href="lloydsagency.html">LLOYD`S Agency</a>
                      </li>
                      <li class="nav-item pr-3">
                        <a class="nav-link" href="contact-us.php">Contac us</a>
                      </li>
                      <li>
                        <button
                          type="button"
                          class="btn btn-link"
                          data-toggle="modal"
                          data-target="#staticBackdrop">
                          <img style="width: 26px;" src="images/buscar.png" alt="lupa">
                        </button>
                      </li>
                    </ul>
              </div>
        </div>
      </div>
    </div>
</nav>
<!-- / header-->
     
     <section id="gestion" class="" >
    <div class="container-fluid  pt-3 pb-5">
        <div class="cont-language">
            <p>
              <a href="../gestiondecalidad.html" class="espaniol"> Español </a> 
              |
              <a href="" class="english"> English </a>
            </p>
         </div>
<!--
        <div class="cont-quienes-somos">
            <div class="box-1"></div>
            <h2>Somos <span> Lloyd's</span> </h2>
            <p>Agency</p>
            <div class="box-2"></div>
          </div>
-->
 
    
  </div>
</section>
     
      
      <!--titulo-grupoPCA--> 
    <section id="grupopca" class="mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col text-center text-uppercase mb-4">
                    <img class="mb-4" style="width: 170px;" src="images/logo-header-pca.png" alt="Grupo PCA">
                    <h5> COMPANY IN CERTIFICATION PROCESS: <br> ISO 9001:2015</h5>
                    <p> OUR GOAL: <span>TOTAL QUALITY </span> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4 mt-4">
                   <div class="card">
                      <img style="width: 100%;" class="" src="images/iso-logo.png" class="card-img-top" alt="">
                      <div class="boton-grupo mt-5">
<!--                        <button class="pb-2 pt-2 pr-3 pl-3 btn-pca" >ISO documents</button>-->
                      </div>
                    </div> 
                </div>
                <div class="col-12 col-md-8 mb-8">
                   <div class="card pl-4 pr-4">
                      <div class="">
                       <h3 class="pb-4">Scope of the quality management system</h3>
                        <p class=""> <strong> PCA Group. </strong> in a constant search for excellence in its processes and quality of its services, under ISO 9001: 2015 standards</p>
                        <p>
                            It is an International Standard that establishes the requirements for the implementation of a Quality Management System for an organization that provides products or services, in order to meet the needstates and / or expectations of customers, as well as the legal requirements that apply. It is awarded by the International Organization for Standardization.</p>

                            <p>PCA Group has a staff with huge experience that allows providing the highest quality and optimal Adjustment and Inspection services, adopting a process-based approach with the development, implementation and continuous improvement of a Quality Management System.</p>

                           <p> The scope of the SGC includes the operational, quality, commercial, suppliers, systems, human and administrative capital of the corporate of the damage adjustment services of the organization for the insurance sector, in accordance with the local legal framework in the following categories marked at the CNSF:</p>

                            <p>Type AJ-III: Freight Transportation.</p>
                            <p>Type AJ-V: Other Damage Hazards</p>
                            <h5>Quality policy:</h5>
                            <p>senior management group pca establishes, implements and maintains a quality policy proper to the context of the organization and its strategic direction, which is communicated, understood, applied and available to all stakeholders which refers to the following: </p>

                            
                            <p class="pb-4">In grupo pca, we are committed to providing excellence in inspection and adjustment of claims in the field of damages for the Mexican insurance sector, through the continuous improvement of our processes, under legal, regulatory and contractual compliance, which fully meet the needs of our customers, business environment, human capital and the community.</p>
                      </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    <!--/titulo-grupoPCA-->
    
    
    <section id="biblioteca" class="mt-4 mb-4">
        <div class="container">
     
     <div class="col-12 col-lg-6 pb-6 pt-6 text-biblioteca">
                 <ul>
                    <p class="">PUBLIC LIBRARY</p>
                    <li class="pb-1 pt-1"> <p> <a class="" href="http://www.amis.org.mx/amis/index.html">Asociación Mexicana de Instituciones de Seguros</a></p></li>
                    <li class="pb-1 pt-1"> <p> <a class="" href="http://www.ssn.unam.mx/">Servicio Sismológico Nacional</a> </p></li>
                    <li class="pb-1 pt-1"> <p> <a class="" href="https://smn.conagua.gob.mx/es/">Servicio Metereollógico Nacional</a> </p></li>
                    <li class="pb-1 pt-1"> <p> <a class="" href="https://www.elasegurador.mx/">El Asegurador</a> </p></li>
                    <li class="pb-1 pt-1"> <p> <a class="" href="https://www.nhc.noaa.gov/">National Hurricane Center</a> </p></li>
                    <li class="pb-1 pt-1"> <p> <a class="" href="http://www.tropicalstormrisk.com/">Tropical Storm Risk</a> </p></li>
                 </ul>
                </div>
            <div class="col-12 col-lg-6 pb-6 pt-6">  
            </div>
        
        </div>
        </section>
            
      
       
<!--footer-->
   <footer id="footer" class="pb-2 pt-2">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 pb-3 pt-3">
             <ul>
                <p class="footer-title">LINK DE INTERES</p>
                <li class="pb-1 pt-1"> <a class="footer-link" href="index.html">Home</a></li>
                <li class="pb-1 pt-1"> <a class="footer-link" href="index.html#company">Company</a></li>
                <li class="pb-1 pt-1"> <a class="footer-link" href="index.html#services">Services</a></li>
<!--                <li class="pb-1 pt-1"> <a class="footer-link" href="">Leyes Códigos</a></li>-->
                <li class="pb-1 pt-1"> <a class="footer-link" href="https://www.banxico.org.mx/tipcamb/tipCamIHAction.do">Exchange Rate $</a></li>
             </ul>
              
            </div>
            <div class="col-12 col-lg-4 pb-3 pt-3">
                <a href=""><img class="pr-4" src="images/instagram.jpg" alt=""></a>
                <a href=""><img src="images/linkedin.jpg" alt=""></a>
            </div>
            <div class="col-12 col-lg-4 pb-3 pt-3 text-right align-mobile-left">
              <p class="footer-title">CONTACT US</p>
              <a  href="contact-us.php"><img style="width: 110px;" class="pb-3 pt-2" src="images/logo-lloyds.svg" alt=""></a>
              <a href="https://www.proca.com.mx/english/AvisoPrivacidad/CompanyPolicyProcedures_PCA_LA-Guadalajara%20Mx(2018).pdf">
              <p class="footer-text pt-5">PCA Group - Policies and procedures</p></a>
            </div>
          </div>
        </div>
    </footer>
<!--/footer-->
   
    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true">
      <div class="modal-dialog" id="search">
        <div
          class="modal-content"
          style="background-color: #F8F9FA; z-index: 2000 !important">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              Search in the site
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username with two button addons"
                aria-describedby="button-addon4"
                v-model="keywords">
              <div class="input-group-append" id="button-addon4">
                <button
                  class="btn btn-primary"
                  type="button"
                  @click="searchUrl(keywords)">
                  Search
                </button>
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  @click="keywords = null, results = null">
                  Clean
                </button>
              </div>
            </div>
            <p v-if="keywords && results">
              <b>Results for "{{keywords }}"</b>
              <br>
              <small>{{ results ? results.length : 0  }} results(s)</small>
            </p>
            <ul class="list-group">
              <li
                class="list-group-item"
                style="background-color: #F8F9FA"
                v-for="result in results">
                <button
                  type="button"
                  class="btn btn-link pl-0"
                  @click="goToLink(result.url)">
                  {{ result.name }}
                </button>
                <p>{{ result.description }}</p>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
    <!--/footer-->
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
      
        $('#myCollapsible').on('hidden.bs.collapse', function () {
  // do something...
})
        $('#myCollapsible').collapse({
  toggle: false
})
      </script>
      <script src="js/registro.js"></script>
      <script src="js/search.js"></script>
    </body>
    
</html